@model Team

@{
    ViewData["Title"] = "Delete Team";
}
<a class="text-muted mt-3 mb-0 btn btn-lg" onclick="javascript:window.history.back();"><- Back</a>

<p class="h1 mb-4 text-center">Deleting an existing team</p>

<form class="row gx-4" asp-controller="Teams" asp-action="Delete" method="post" enctype="application/x-www-form-urlencoded">
    <h3 class="col-10">Confirm Deletion</h3>
    <p class="col-10 mt-1">Are you sure you want to delete the team "<strong>@Model.TeamName</strong>" which currently has <strong>@Model.Players?.Count</strong> members?</p>

    <input type="hidden" asp-for="TeamId" />

    <div class="form-group col-10 mt-5">
        <button type="submit" class="btn btn-primary me-3">Delete</button>
        <a onclick="javascript:window.history.back();" class="btn btn-secondary">Cancel</a>
    </div>
</form>