@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group row">
        <div class="col-sm-2"><label>Username:</label></div>
        <div class="col-sm-4">
            <!-- Input field for username -->
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="col">
            <!-- Validation message for username -->
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Password:</label></div>
        <div class="col-sm-4">
            <!-- Input field for password -->
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="col">
            <!-- Validation message for password -->
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Confirm Password:</label></div>
        <div class="col-sm-4">
            <!-- Input field to confirm password -->
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <!-- Button to submit registration -->
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <!-- Link to login page if already registered -->
            Already registered? <a asp-action="LogIn">Log In</a>
        </div>
    </div>
</form>
